# Ambientes Virtuais
venv/
env/
.env
.venv

# Logs e Relatórios
reports/
*.log
*.json

# Python Cache e Build
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Configurações de IDE e Sistema
.vscode/
.idea/
.DS_Store